
h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}


div.message-box {
  border: 10px solid lightgreen;
  outline: 2px dashed blue;
}

p.message-text {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  color: wheat;

}
